<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Razer United States</title>
  <link rel="stylesheet" href="/public/style.css" />
  <link rel="shortcut icon" href="./img/logo.png" />  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  
  
</head>
<body>

<!-- Header -->
<div class="header">       

    <div class="logo">
        <span>
            <img id="logo" src="./img/logo.png">     
        </span>
    </div>
    <a href="Home" class="botao">Sair</a>   


</div>
     <script src="/model/script.js"></script>
</body>
</html>